header{
  display:flex;
  flex-direction:left;
  justify-content:space-between;
  margin:20px;
  font-size:11px;
  font-family: Epilogue;
}
.right-section{
  display:flex;
  align-items:center;
  flex:1;
}
.logo{
  height:25px;
  padding-top:10px;
  margin-left:0px;
  margin-right:20px;
}
.nav-bar{
  display:flex;
  justify-content:space-between;
  cursor:pointer;
}
.main-list{
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap:60px;
  list-style: none;
}
.dropdownclass{
  position:relative;
}
.dropdownBtn{
   background-color:white;
   border:none;
   position:relative;
  
}
  .dropdown-menu1{
  position:absolute;
  left:-60px;
  padding:10px;
  margin:10px;
  box-shadow: 0px 4px 10px 0px;
  list-style: none;
  visibility:hidden;
  opacity:0;
  background-color: white; /* for better styling by victor*/
  z-index: 1000; z-index: 1000; /* for better styling by vicor*/
  transition: all 0.3s ease; /* for better styling by victor*/
}
.dropdown-menu2{
  position:absolute;
  left:-20px;
  padding:10px;
  margin:10px;
  box-shadow: 0px 4px 10px 0px;
  list-style:none;
  visibility:hidden;
  opacity:0;
  transition: all 0.3s ease;/* for better styling by victor*/
  background-color: white;/* for better styling by victor*/
  z-index: 1000; z-index: 1000;/* for better styling by victor*/
}
.show{
  opacity:1;
  visibility:visible;
}
.left-section{
  display:flex;
  align-items:center;
}
.left-section a{
  text-decoration: none;
  color:rgb(52, 48, 48);
}
.left-section a, button:hover{
  cursor: pointer;
}
.register-button{
  background-color:white;
  font-size:11px;
  height:30px;
  width:70px;
  border-radius:10px;
  border:solid;
  border-width:1px;
}
